/* Общий контейнер */
.container {
  width: 1280px;
  height: 832px;
  position: relative;
  background: linear-gradient(180deg, white 0%, #999999 100%);
  overflow: hidden;
}

/* Первый фоновый слой */
.bg-layer1 {
  width: 1280px;
  height: 832px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, #B6E3EB 0%, #FFE8FC 100%);
}

/* Второй слой */
.bg-layer2 {
  width: 1096px;
  height: 558px;
  left: 92px;
  top: 218px;
  position: absolute;
  background: linear-gradient(133deg, #FFFDFD 0%, rgba(255, 255, 255, 0.80) 100%);
  border-radius: 30px;
}

/* Третий слой */
.bg-layer3 {
  width: 606.99px;
  height: 366px;
  left: 517.99px;
  top: 342px;
  position: absolute;
  opacity: 0.90;
  background: linear-gradient(180deg, white 0%, rgba(255, 255, 255, 0.30) 100%);
  border-radius: 30px;
}

/* Четвертый слой */
.bg-layer4 {
  width: 609.98px;
  height: 361.44px;
  left: 515px;
  top: 342px;
  position: absolute;
  background: rgba(212.01, 212.01, 212.01, 0.10);
  border-radius: 32px;
  border: 3px rgba(255, 255, 255, 0.50) solid;
}

/* Текстовое описание */
.content-text {
  width: 532px;
  height: 276px;
  left: 558.98px;
  top: 386px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

/* Блок кнопки "meet up!" */
.button-meetup {
  width: 126px;
  height: 32px;
  left: 762px;
  top: 646px;
  position: absolute;
  background: #F5F5F5;
  overflow: hidden;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-meetup span {
  text-align: center;
  color: black;
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  word-wrap: break-word;
}

/* Название "Флора" */
.title-flora {
  width: 198px;
  height: 58px;
  left: 574px;
  top: 268px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  word-wrap: break-word;
}

/* Изображение */
.image-flora {
  width: 300px;
  height: 275px;
  left: 188px;
  top: 352px;
  position: absolute;
  border-radius: 30px;
}