<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ваш Заголовок</title>
  <link rel="stylesheet" href="/styles/speaker_style.css" />
</head>
<body>
  <div class="container">
    <div class="bg-layer1"></div>
    <div class="bg-layer2"></div>
    <div class="bg-layer3"></div>
    <div class="bg-layer4"></div>
    <div class="content-text">
      {{ .speaker.Description }}
    </div>
    <div class="button-meetup">
      <!-- Изменено: добавлен query-параметр с ID спикера -->
        <div> <!-- Столбец 3: Кнопка -->
          <form action="/add-speaker/{{ .speaker.ID }}" method="POST" style="display: inline;">
            <input type="hidden" name="speaker_id" value="{{ .ID }}">
            <button type="submit">meet up!</button>
          </form>
        </div>
    </div>
    <div class="title-flora">{{ .speaker.Name }}</div>
    <img class="image-flora" src="/img/{{ .speaker.ID }}.png" />
          
    <div style="position: absolute; top: 0; left: 0; width: 50px; height: 50px; border-radius: 50%;">
      <a href="http://localhost:8080/speakers" class="button" style="display: block; width: 100%; height: 100%; text-decoration: none; border-radius: 50%;">
        <img src="/img/home.png" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;"/>
      </a>
    </div>

  </div>
</body>
</html>
