<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<title>Разделённый файл</title>
<link rel="stylesheet" href="/static/styles/list_style.css" />
</head>
<body>
<div class="container">
  <div class="background-gradient"></div>
  <div class="title">Meet up по ИИ</div>
  <div class="content-box"></div>
  <div class="status">Статус</div>
  <img class="image1" src="/static/img/3.png" />
  <img class="image2" src="/static/img/3.png" />

  <div class="status" style="width:469px; height:36px; left: 329px; top: 624px;">Муза</div>
  <div class="status" style="width:289px; height:36px; left: 60px; top: 624px;">20-00</div>
  <div class="status" style="width:469px; height:36px; left: 328px; top: 418px;">Флора</div>
  <div class="status" style="width:289px; height:36px; left: 59px; top: 418px;">18-00</div>
  <img class="image3" src="/static/img/4.png" />
  <div class="status" style="width:289px; height:36px; left: 59px; top: 521px;">19-00</div>
  <div class="status" style="width:469px; height:36px; left: 328px; top: 521px;">Флора</div>
  <div class="status" style="width:469px; height:48px; left: 329px; top: 327px;">Спикер</div>

  <!-- Пример кнопки/карточки -->
  <div class="button button1" data-property-1="Default">
    <div>предстоит</div>
  </div>
  <div class="button button2" data-property-1="Default">
    <div>предстоит</div>
  </div>
  <div class="button button3" data-property-1="Default">
    <div>предстоит</div>
  </div>

  <div style="width:166px; height:48px; position:absolute; left:125px; top:326px; text-align:center; color:black; font-size:24px; font-family:Montserrat;">Время</div>
  <div style="width:893px; height:48px; position:absolute; left:162px; top:222px; text-align:center; color:black; font-size:24px; font-family:Montserrat;">Дата: 12 октября Место: ГУК МГТУ</div>
</div>
</body>
</html>